<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <h7>An Ideasm Quick Production</h7>
        </ul>
      </nav>
    </div>
  </div>
</header>